.article {
  padding-block: 2rem;
}

.article figure > img {
  width: 100%;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .article figure > img {
    max-width: 500px;
    float: left;
    margin: 0 1em 1em 0;
  }
}
