.breadcrumb ul {
  background: var(--breadcrumb-bg);
  border-radius: 0.25rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  font-size: smaller;
}

.breadcrumb li {
  min-height: 1em;
  padding: .5em;
  position: relative;
}

.breadcrumb li:not(:first-child)::before {
  margin-inline-end: 2ch;
  content: '::';
}

.breadcrumb a {
  color: var(--breadcrumb-fg);
  border-radius: .25rem;
}

.breadcrumb svg {
  display: none;
  height: var(--step-0);
}

.breadcrumb a:hover {
  color: var(--breadcrumb-fg);
  background: transparent;
}

@media screen and (min-width: 768px) {

  .breadcrumb ul {
    gap: .5rem;
    background: transparent;
    border-radius: 0;
  }

  .breadcrumb li {
    background: var(--breadcrumb-bg);
    padding: .5em 1.5em;
    border-radius: .25em;
  }

  .breadcrumb a {
    color: var(--breadcrumb-fg);
  }

  .breadcrumb li:first-child {
    padding-left: .5em;
  }

  .breadcrumb li:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    content: '';
    background: var(--bg);
    border-radius: .25em;
    width: 1em;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }

  .breadcrumb li::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: var(--bg);
    border-radius: .25rem;
    width: 1rem;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
  }

}
