.breadcrumb {
  background: var(--breadcrumb-bg);
  margin-block-start: 0.1em;
  color: var(--breadcrumb-fg);
  padding: 1rem 1.5rem;
}

.breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.breadcrumb li:not(:first-child)::before {
  display: block;
  content: '';
  width: 0.6em;
  height: 0.6em;
  background: currentColor;
clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
}

.breadcrumb a {
  color: var(--breadcrumb-fg);  
}
