.footer {

  text-align: center;
  background: var(--footer-bg2);
  color: var(--footer-fg-color);
  position: relative;
  height: 12rem;
}

.ground-spacer {
  
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  background: repeating-conic-gradient(var(--footer-bg1) 0 25%, var(--footer-bg2) 0 50%) 
      50% / 64px 64px;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    background: linear-gradient(to bottom, transparent, var(--footer-bg2));
  }
}
.footer p {
  position: relative;
  z-index: 2;
}
