.footer {

  text-align: center;
  background: linear-gradient(to bottom, var(--footer-bg1), var(--footer-bg2));
  color: var(--footer-fg-color);
  position: relative;
  height: 12rem;
  display: grid;
  place-items: center;
}

.footer p {
  position: relative;
  z-index: 2;
}
