.header {
  background: var(--footer-bg-color, #123) repeating-conic-gradient(#123 0 25%, #234 0 50%) 
    50% / 64px 64px;
  color: var(--header-color);

  padding: 1rem;
  & .logo {
    width: 502px;
    max-width: 100%;
  }
}
