.sidebar-layout {
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  flex: 1 auto;

  > nav {
    border-bottom: 1px solid currentColor;
    padding: 1rem;
    padding-block-start: 2em;
  }

  > main {
    padding-block-end: 3rem;
  }
}

@media screen and (min-width: 1240px) {
  .sidebar-layout {
    display: grid;
    grid-template-columns: 30ch minmax(min(50vw, 40ch), 1fr) 30ch;

    > nav {
      border-bottom: none;
      grid-row: 1 / -1;
      
      &.left {
        border-right: 1px solid var(--fg);
        grid-column: 1 / 2;
      }

      &.right {
        border-left: 1px solid var(--fg);
        grid-column: 3 / 4;
      }
    }
  }


}

