:root {
  --h1-color: light-dark(#3f126c, #ffe3f1);
  --headline-color: light-dark(rgb(151, 12, 86), hotpink);
  --anchor-color: light-dark(#12c, #9cf);
  --code-color: light-dark(#005b3e, #b9fff5);
  --code-bg-color: light-dark(#fafafc, #20202d);
  --kbd-bg-color: light-dark(rgb(255, 214, 234), #663399);
  --kbd-color: light-dark(#000, #fff);

  --footer-fg-color: light-dark(#000, #fff);
  --footer-bg1: light-dark(rgb(252, 135, 217), rgb(80, 0, 69));
  --footer-bg2: light-dark(#ffffff, #000);

  --header-bg-color: light-dark(#def, #123);
  --header-color: light-dark(#111, #fff);
  --aside-border: light-dark(pink, deeppink);
  --note-error: light-dark(pink, deeppink);
  --note-warning: light-dark(#f93, #fb4);

}
