<footer class="footer">
    <p>Made with <span aria-hidden="true">💖</span> love by <a rel="me" href="https://lea.lgbt/@lea">Lea</a></p>
    <ul class="list--flex list--none">
        <li><a href="{{ meta.root }}/imprint/">Imprint</a></li>
        <li><a href="{{ meta.root }}/accessibility-statement/">Accessibility statement</a></li>
        <li><a href="{{ meta.root }}/license/">License</a></li>
        <li><a href="{{ meta.root }}/privacy/">Privacy</a></li>
    </ul>
</footer>
