{% if not excludeFromReview %}
{% if reviewers and reviewers.length > 0 %}
<h2>Reviewers</h2>
{% for reviewer in reviewers %}
{{ util.formatReviewer(reviewer) }}
{% endfor %}

{% else %}
<aside class="note" aria-labelledby="content-note">
<h2 id="content-note">Content note</h2>
<p>This content is unreviewed.</p>
</aside>
{% endif %}
{% endif %}
