<nav class="sidebar">
    <ul class="list--none">
        <li><a href="{{ meta.root }}/">Home</a></li>
        <li><a href="{{ meta.root }}/about/">About</a></li>
        <li><a href="{{ meta.root }}/low-effort/">Low Effort</a>
    </ul>
</nav>
