<nav class="sidebar left">
    <ul class="list--none">
        <li><a href="{{ meta.root }}/">Home</a></li>
        <li><a href="{{ meta.root }}/about/">About</a></li>
        <li><a href="{{ meta.root }}/fundamentals/">Fundamentals</a></li>
        <li><a href="{{ meta.root }}/most-common-problems/">Most common problems</a></li>
        <li><a href="{{ meta.root }}/keyboard-navigation/">Keyboard navigation</a></li>
        <li><a href="{{ meta.root }}/html/">HTML</a></li>
        <li><a href="{{ meta.root }}/glossary/">Glossary</a></li>
        <li><a href="{{ meta.root }}/links/">Links</a></li>
    </ul>
</nav>
