:where(.list--none) {
  list-style: none;
  padding: 0;
  margin: 0;
}

:where(ul.list--none li) {
  padding: 0;
  margin: 0;
}

:where(.list--flex) {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

:where(ul.list--flex li) {
  padding: 0;
  margin: 0;
}
